body{
     height: 100vh; 
     /* background: linear-gradient(335deg, rgba(252,70,107,1) 13%, rgba(229,87,71,1) 34%, rgba(214,71,130,1) 51%, rgba(190,72,144,1) 67%, rgba(16,58,238,1) 100%); */
    /*background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */


    background: url(1.jpg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;

}



.card {
       background-color: white;
       text-align: center;
       max-width: 400px;
}
.card-header, .card-footer{
    background-color: rgb(156, 89, 218);
    padding: 20px;
}
.card-body{

}


button{
    background-color: white;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}



button:hover{
   background-color: rgb(173, 229, 248);
   color: rgb(14, 7, 7);
   border: 2px solid white;
}
